---
layout: archive
---

<!-- text-align can be used to set alignment to left, right, center, or justified. -->

<p style="font-size: 18px; text-align:left;">This is the the homepage and blog of Sahil D. Shah, PhD Candidate at Northwestern University. My most recent posts are below. For a full list of my blog posts and
presentations, <u><a href="https://sahildshah1.github.io/posts/">see here.</a></u>  
For my resume, <u><a href="https://drive.google.com/file/d/1HEjVull6jIBldHTRUX3vibv2dCEvAhV_/view?usp=sharing">see here.</a></u> </p>




<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
