---
layout: archive
---

<h4>This is the the homepage and blog of Sahil D. Shah, PhD Candidate at Northwestern University. My most recent posts are below. For a full list of my blog posts and
presentations, <u><a href="https://sahildshah1.github.io/posts/">see here.</a></u></h4>



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
