---
layout: archive
---

<!-- text-align can be used to set alignment to left, right, center, or justified. -->

<!-- <p style="font-size: 18px; text-align:left;">This is the the homepage and blog of Sahil D. Shah. My most recent posts are below. For a full list of my blog posts and
presentations, <u><a href="https://sahildshah1.github.io/posts/">see here.</a></u>  
For my resume, <u><a href="https://drive.google.com/file/d/1-aXxS_yfp3WJINEmG5ckBTJ1ZGCsWRm_/view?usp=sharing">see here.</a></u> </p> -->

<p style="font-size: 18px; text-align:left;"> Hi, I'm <u><a href="https://sahildshah1.github.io/aboutme/">Sahil!</a></u> 
I'm a Data Scientist living in Chicago, working for Civis Analytics. Prior to working at Civis Analytics, I completed 
a PhD at Northwestern University. Welcome to my blog! </a></u> </p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
